.videogame-card:hover {
    transform: scale(1.5);
    transition: all .2s ease-in-out;
}

.videogame-image {
    width: 8rem;
    height: 12rem;
    object-fit: cover;
}

.videogame-genres {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
