.videogame-card {
    width: 14rem;
    height: 21rem;
    transition: .2s ease-in-out;
    border-style: solid;
    border-color: black;
    border-width: 0.2rem;
    margin: 0.6rem;
    background-color: gainsboro;
    }

.videogame-card:hover {
    transform: scale(1.3);
}

.videogame-image {
    width: 8rem;
    height: 12rem;
    object-fit: cover;
}

.videogame-genres {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
