body {
    background-image: url("../../assets/img/video-game-cover-montage-blur.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -80px;
    margin-left: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(-4px 6px 11px black);
}

.loading-text {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #ffc107;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.press-start {
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Verdana';
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -120px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2rem;
    border-style: solid;
    border-width: .2rem;
    border-color: black;
    transition: .5s ease-in-out;
}

.press-start:hover {
    cursor: pointer;
    transform: scale(1.4);
    background-color: #ffc107;
}
  

  