.videogames-background {
    background-color: transparent;
}

.videogames-loading {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #ffc107;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.videogames {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
}