.videogame-detail {
    border-style: solid;
    border-color: black;
    border-width: .2rem;
    border-radius: 1rem;
    padding-bottom: 2rem;
    background-color: rgba(34, 34, 34, 0.808);
    margin-top: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.videogame-detail-title {
    padding-top: 2rem;
}

.videogame-detail-image {
    width: 50%;
    height: auto;
    border-style: solid;
    border-color: black;
    border-width: .2rem;
    border-radius: 1rem;
}

.videogame-detail-description {
    font-size: 1.2rem;
    padding-left: 15%;
    padding-right: 15%;
}

.videogame-detail-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #ffc107;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (max-width: 1500px) {
    .videogame-description {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@media screen and (max-width: 600px) {
    .videogame-description {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}