.add-videogame {
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.add-videogame-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.3rem;
}

.inputs-groups-details {
    background-color: rgba(34, 34, 34, 0.808);
    border-style: solid;
    border-color: black;
    border-width: .2rem;
    border-radius: 1rem;
}

.inputs-groups, .inputs-groups-genres, .inputs-groups-platforms {
    margin: .6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs-groups-genres {
    width: -webkit-fill-available;
    margin-left: 30rem;
    margin-right: 30rem;
    background-color: rgba(34, 34, 34, 0.808);
    border-style: solid;
    border-color: black;
    border-width: .2rem;
    border-radius: 1rem;
}

.inputs-groups-platforms {
    width: -webkit-fill-available;
    margin-left: 18rem;
    margin-right: 18rem;
    background-color: rgba(34, 34, 34, 0.808);
    border-style: solid;
    border-color: black;
    border-width: .2rem;
    border-radius: 1rem;
}

.genres {
    display: flex;
    height: 12rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    flex-direction: column;
    align-content: space-around;
}

.platforms {
    display: flex;
    height: 17rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    flex-direction: column;
    align-content: space-around;
}

.add-videogame-button {
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Verdana';
    margin: 1rem;
    border-radius: 2rem;
    border-style: solid;
    border-width: .2rem;
    border-color: black;
    transition: .3s ease-in-out;
}

.add-videogame-button:hover {
    cursor: pointer;
    transform: scale(1.2);
    background-color: #ffc107;
}

input {
    font-size: 1.3rem;
}

@media screen and (max-width: 1700px) {
    .inputs-groups-genres {
        width: -webkit-fill-available;
        margin-left: 20rem;
        margin-right: 20rem;
        background-color: rgba(34, 34, 34, 0.808);
    }
    
    .inputs-groups-platforms {
        width: -webkit-fill-available;
        margin-left: 10rem;
        margin-right: 10rem;
        background-color: rgba(34, 34, 34, 0.808);
    }
}

@media screen and (max-width: 1450px) {
    .inputs-groups-genres {
        width: -webkit-fill-available;
        margin-left: 15rem;
        margin-right: 15rem;
        background-color: rgba(34, 34, 34, 0.808);
    }
    
    .inputs-groups-platforms {
        width: -webkit-fill-available;
        margin-left: 5rem;
        margin-right: 5rem;
        background-color: rgba(34, 34, 34, 0.808);
    }
}

@media screen and (max-width: 1300px) {
    .inputs-groups-genres {
        width: -webkit-fill-available;
        margin-left: 10rem;
        margin-right: 10rem;
        background-color: rgba(34, 34, 34, 0.808);
    }
    
    .inputs-groups-platforms {
        width: -webkit-fill-available;
        margin-left: 2rem;
        margin-right: 2rem;
        background-color: rgba(34, 34, 34, 0.808);
    }
}

@media screen and (max-width: 1100px) {
    .platforms {
        height: 30rem;
    }
}

@media screen and (max-width: 950px) {
    .inputs-groups-genres {
        width: -webkit-fill-available;
        margin-left: 5rem;
        margin-right: 5rem;
        background-color: rgba(34, 34, 34, 0.808);
    }
}

@media screen and (max-width: 655px) {
    .genres {
        height: 20rem;
    } 
    
    .platforms {
        height: 50rem;
    }
}

@media screen and (max-width: 425px) {
    .genres {
        height: 35rem;
    } 
    
    .platforms {
        height: 80rem;
    }
}