.pagination-background {
    display: flex;
    height: 4.5rem;
    background-color: transparent;
    border-style: solid;
    border-bottom: black;
    border-right: black;
    border-left: black;
    border-width: .2rem;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(34, 34, 34, 0.808);
}

.pages {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 30rem;
    margin-right: 30rem;
    justify-content: space-evenly;
    padding-inline-start: inherit;
}

.page-button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    transition: .1s ease-in-out;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.current-page-button {
    background-color: transparent;
    font-size: 2rem;
    transition: .1s ease-in-out;
    color: #ffc107;
    text-shadow: 2px 2px 4px #000000;
    border: none;
}

.page-button:hover {
    transform: scale(1.5);
}

.current-page-button:hover {
    transform: scale(1.5);
}

.page-button:hover, .current-page-button:hover {
    cursor: pointer;
}

@media screen and (max-width: 1500px) {
    .pages {
        margin-left: 15rem;
        margin-right: 15rem;
    }
}