.pagination-background {
    background-color: gainsboro;
    height: 3rem;
    justify-content: space-evenly;
    border-style: solid;
    border-bottom: black;
    border-right: black;
    border-left: black;
    border-width: .2rem;
}

.pages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 18rem;
    margin-right: 18rem;
    justify-content: space-evenly;
}