.landing-page {
    background-image: url("../../images/video-game-cover-montage-blur.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.loading-text {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    color: white;
}

.press-start {
    font-size: 2rem;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    transition: .5s ease-in-out;
}

.press-start:hover {
    transform: scale(1.3);
}
  

  