.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    margin-left: 10rem;
    margin-right: 10rem;
    font-size: 1.5rem;
}

.nav-bar-background {
    background-color: gainsboro;
    border-style: solid;
    border-top: black;
    border-right: black;
    border-left: black;
    border-width: .2rem;
}

.nav-bar-link {
    margin-left: 1rem;
    margin-right: 1rem;
    color:black;
}

a {
    text-decoration: none;
}